---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = '关于这个码仔'

const selfInfo = [
  '目前做着和 C++ 相关的工作，类比 Linux 中的管道概念，常做一些数据的输入输出的工作，做一个好的「 中转站 」，偶尔用用 Python 这个利器来辅助处理下数据。',
  '离不开 Code Format',
  '团队开发最喜欢 Code Review 环节 /doge',
]
const skills = ['英语', '网络搜索技巧', '文档阅读能力', '调试']
const projects = [
  {
    name: 'cxx_crud_file',
    desc: '以剔除 Qt 代码为目标而诞生的项目，UString 替换 QString，用 C++ 标准编写的 UFile 基类，基于 UFile 衍生出 JsonFile、IniFile 和 DatFile 来替换掉 Qt 的 QFile、QJson 和 QSetting 等。',
    link: 'https://github.com/kok-s0s/cxx_crud_file',
  },
  {
    name: 'cxx_thread',
    desc: '根据实际业务需求而设计的线程基类，模仿了 Qt 的信号与槽机制，即一个信号 ID 与一个事件绑定，信号 ID 由一个队列维护。',
    link: 'https://github.com/kok-s0s/cxx_thread',
  },
  {
    name: 'socket_qt_dotNet',
    desc: '基于 Qt 和 .Net 的 Socket 通信，实现了客户端与服务端的通信，服务端可以同时与多个客户端通信。',
    link: 'https://github.com/kok-s0s/socket_qt_dotNet',
  },
]
const books = ['Clean C++', 'Linux Shell 脚本攻略']
---

<BaseLayout pageTitle={pageTitle}>
  <p>他的一些信息：</p>
  <ul>
    <li class="textGap">常用网名 <em>kok-s0s</em></li>
    {selfInfo.map((info) => <li class="textGap">{info}</li>)}
  </ul>
  <p>他认为程序员要熟练的能力：</p>
  <ul>
    {skills.map((skill) => <li class="skill textGap">{skill}</li>)}
  </ul>
  <p>他的一些 C++ 项目：</p>
  <ul>
    {
      projects.map((project) => (
        <li>
          <a href={project.link} target="_blank">
            <em>{project.name}</em>
          </a>

          <p class="textGap">{project.desc}</p>
        </li>
      ))
    }
  </ul>
  <p>他目前阅览的书籍：</p>
  <ul>
    {books.map((book) => <li class="book textGap">{book}</li>)}
  </ul>
</BaseLayout>

<style>
  .textGap {
    line-height: 1.6;
  }

  .skill,
  .book {
    letter-spacing: 1px;
  }
</style>
