---
import BaseLayout from '../layouts/BaseLayout.astro'

import { selfInfo, skills, repos, booksRead } from '../data/about'

const pageTitle = '关于'
---

<BaseLayout pageTitle={pageTitle}>
  <p>他的一些信息：</p>
  <ul>
    {selfInfo.map((info) => <li>{info}</li>)}
  </ul>
  <p>他认为程序员要熟练的<a href="/roadmap" id="normal">能力</a>：</p>
  <ul>
    {skills.map((skill) => <li>{skill}</li>)}
  </ul>
  <p>他做过的一些 <em>Repository</em> ：</p>
  <ul id="repos">
    {
      repos.map((repo) => (
        <li class="none-style">
          <details>
            <summary>
              <a href={repo.link} class="underline">
                <em>{repo.name}</em>
              </a>
            </summary>
            <p>{repo.description}</p>
          </details>
        </li>
      ))
    }
  </ul>
  <details>
    <summary>他近一年阅览过的书籍：</summary>
    <ul>
      {
        booksRead.map((book) => (
          <li>
            <s>{book.name}</s> _ <span>{book.status}</span>
          </li>
        ))
      }
    </ul>
  </details>
</BaseLayout>

<style>
  #repos {
    margin-left: -1rem;
  }

  ul li.none-style {
    list-style: none;
  }

  summary {
    cursor: pointer;
  }

  details > summary {
    list-style: none;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary:after {
    content: '+';
    float: left;
    font-size: 1em;
    font-weight: bold;
    margin: -2px 10px 0 0;
    padding: 1px 0 3px 0;
    text-align: center;
    width: 14px;
  }

  details[open] summary:after {
    content: '-';
  }
</style>

<script>
  const reposList = document.getElementById('repos')
  const detailsElements = reposList.getElementsByTagName('details')

  for (const details of detailsElements) {
    details.addEventListener('click', () => {
      for (const otherDetails of detailsElements) {
        if (otherDetails !== details) {
          otherDetails.removeAttribute('open')
        }
      }
    })
  }
</script>
