---
import BaseLayout from '../layouts/BaseLayout.astro'
import OriginalBlogPost from '../components/OriginalBlogPost.astro'
import BlogPost from '../components/BlogPost.astro'

const projectPosts = await Astro.glob('./posts/*.md')
projectPosts.sort((a, b) => (new Date(b.frontmatter.pubDate) as any) - (new Date(a.frontmatter.pubDate) as any))
const cleanCxxPosts = await Astro.glob('./posts/clean_cxx/*.md')
const cxxCreationalPatternsPosts = await Astro.glob('./posts/cxx_design_patterns/creational_patterns/*.md')
const cxxStructuralPatternsPosts = await Astro.glob('./posts/cxx_design_patterns/structural_patterns/*.md')
const cxxBehavioralPatternsPosts = await Astro.glob('./posts/cxx_design_patterns/behavioral_patterns/*.md')
const pageTitle = '博文'
---

<BaseLayout pageTitle={pageTitle}>
  <h2>原创</h2>
  <blockquote>
    <p>如果我写的<a href="/tags/" id="normal">内容</a>，能对观看的你有帮助就好了。</p>
  </blockquote>
  <ul>
    {
      projectPosts.map((post) => (
        <OriginalBlogPost url={post.url} title={post.frontmatter.title} pubDate={post.frontmatter.pubDate} />
      ))
    }
  </ul>
  <details>
    <summary>《C++ 代码整洁之道》读书记录</summary>
    <ul>
      {cleanCxxPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </details>
  <h2>搬运</h2>
  <details>
    <summary>『 设计模式 』</summary>
    <p class="source">
      Article reprinted from <a href="https://refactoring.guru/design-patterns" class="underline">Refactoring.Guru</a>
    </p>
    <p class="pattern">Creational Patterns</p>
    <ul>
      {cxxCreationalPatternsPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    <p class="pattern">Structural Patterns</p>
    <ul>
      {cxxStructuralPatternsPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    <p class="pattern">Behavioral Patterns</p>
    <ul>
      {cxxBehavioralPatternsPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
  </details>
</BaseLayout>

<style>
  .source {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    color: #666;
  }

  .pattern {
    margin: 0;
    padding: 0 0 0 1rem;
    letter-spacing: 0.3px;
  }

  .pattern + ul {
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
  }

  details {
    margin-left: 1rem;
  }

  details ul {
    margin-top: 0.5rem;
  }

  ul li {
    list-style: none;
  }

  ul li:first-child div.pattern {
    padding-top: 0;
  }
</style>
