---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'

const projectPosts = await Astro.glob('../pages/posts/*.md')
const cleanCxxPosts = await Astro.glob('../pages/posts/clean_cxx/note/*.md')
const pageTitle = '博文'
---

<BaseLayout pageTitle={pageTitle}>
  <p>如果我写的内容，能对观看的你有帮助就好了。</p>
  <ul>
    {projectPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
  <p>《C++ 代码整洁之道》读书记录</p>
  <ul>
    {cleanCxxPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
