---
import ns_json from '../data/ns_data.json'
---

<div class="ns-container">
  {
    ns_json.map(function (item) {
      return (
        <div class="ns-item">
          <img class="ns-img" src={item.imageUrl} alt={item.titleName} />
          <div class="overlay-top-text">
            <span>{item.titleName}</span>
            <em>
              <b>{item.totalPlayedHours} h</b>
            </em>
          </div>
          <div class="bottom-text">{item.firstPlayedAt} 拥有</div>
        </div>
      )
    })
  }
</div>

<style>
  .ns-container {
    display: flex;
    gap: 1rem;
    overflow: hidden;
    overflow-x: scroll; /* 开启横向滚动条 */
  }

  .ns-item {
    position: relative;
    width: 180px;
    height: 210px;
  }

  .ns-img {
    width: 180px;
    height: auto;
    display: block;
  }

  .overlay-top-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fffffe;
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .bottom-text {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #808080;
    font-size: 0.6rem;
    text-align: center;
    padding: 0.2rem 0;
  }
</style>
