---
import Toc from '../components/Toc.astro'
import BaseLayout from './Base.astro'
import { withBase } from '../utils/path'

const { frontmatter, rawContent } = Astro.props

const content = rawContent ? rawContent() : ''
const chineseChars = (content.match(/[一-龥]/g) || []).length
const englishWords = (content.match(/\b[a-zA-Z]+\b/g) || []).length
const readingTime = Math.max(1, Math.ceil(chineseChars / 300 + englishWords / 200))

const allPosts = Object.values(import.meta.glob('../pages/posts/clean_cxx/*.md', { eager: true })) as any[]
let currentPostIndex = -1
allPosts.forEach((post, index) => {
  if (post.frontmatter.title === frontmatter.title) {
    currentPostIndex = index
  }
})
const previousPost = allPosts[(currentPostIndex - 1 + allPosts.length) % allPosts.length]
const nextPost = allPosts[(currentPostIndex + 1) % allPosts.length]
---

<BaseLayout pageTitle={frontmatter.title} description={`《Clean C++》读书记录：${frontmatter.title}`}>
  <p class="time">Read in<b><em>~{readingTime} min</em></b></p>
  <p>Written by - <b><em>{frontmatter.author}</em></b></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={withBase(`/tags/${tag}`)}>{tag}</a>
        </p>
      ))
    }
  </div>
  <Toc />
  <slot />
  <div id="previous-next-article">
    <a href={withBase(previousPost.url)} id="previous" class="underline">{previousPost.frontmatter.title}</a>
    <a href={withBase(nextPost.url)} id="next" class="underline">{nextPost.frontmatter.title}</a>
  </div>
</BaseLayout>
