---
import Toc from '../components/Toc.astro'
import BaseLayout from './BaseLayout.astro'

const { frontmatter } = Astro.props

const cleanCxxPosts = await Astro.glob('../pages/posts/clean_cxx/*.md')
const allPosts = cleanCxxPosts
let currentPostIndex = -1
allPosts.forEach((post, index) => {
  if (post.frontmatter.title === frontmatter.title) {
    currentPostIndex = index
  }
})
const previousPost = allPosts[(currentPostIndex - 1 + allPosts.length) % allPosts.length]
const nextPost = allPosts[(currentPostIndex + 1) % allPosts.length]
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by - <b><em>{frontmatter.author}</em></b></p>
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <Toc />
  <slot />
  <div id="previous-next-article">
    <a href={previousPost.url} id="previous" class="underline">{previousPost.frontmatter.title}</a>
    <a href={nextPost.url} id="next" class="underline">{nextPost.frontmatter.title}</a>
  </div>
</BaseLayout>
