---
import Toc from '../components/Toc.astro'
import BaseLayout from './BaseLayout.astro'

const { frontmatter } = Astro.props

const projectPosts = await Astro.glob('../pages/posts/*.md')
let currentPostIndex = -1
projectPosts.forEach((post, index) => {
  if (post.frontmatter.title === frontmatter.title) {
    currentPostIndex = index
  }
})
const previousPost = projectPosts[(currentPostIndex - 1 + projectPosts.length) % projectPosts.length]
const nextPost = projectPosts[(currentPostIndex + 1) % projectPosts.length]
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Created by - <b><em>{frontmatter.pubDate.slice(0, 10)}</em></b></p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by - <b><em>{frontmatter.author}</em></b></p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <Toc />
  <slot />
  <div id="previous-next-article">
    <a href={previousPost.url} id="previous" class="underline">{previousPost.frontmatter.title}</a>
    <a href={nextPost.url} id="next" class="underline">{nextPost.frontmatter.title}</a>
  </div>
</BaseLayout>

<style>
  img {
    margin-bottom: 0.5rem;
  }
</style>
